<div class="container mt-5">
    <div class="card text-center">
        <div class="card-header">
            Shitpost Progress Tracker
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ total_posts }} Shitposts Made</h5>
            <p class="card-text">Our goal is to reach {{goal}} shitposts.</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ percentage }}%;" aria-valuenow="{{ total_posts }}" aria-valuemin="0" aria-valuemax="{{goal}}">
                    {{ percentage }}%
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            Keep posting!
        </div>
    </div>
</div>
