{% load bootstrap4 %}
<!DOCTYPE html>
<html>
<head>
    <title>Card List</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Card List</h1>
        <div class="row">
            {% for card in cards %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ card.title }}</h5>
                            <p class="card-text">{{ card.content }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'add_card' %}" class="btn btn-primary">Add Card</a>
    </div>
</body>
</html>

