{% extends "base.html" %}
{% block content %}
<style>
 .card {
     position: relative; /* Needed for the expiration text positioning */
     transition: transform 0.2s;
 }
 .card:hover{
     transform: scale(1.05); 
 }

</style>
<div class="container mt-5">


    <div class="row">
        {% for card in cards %}
        <div class="col-md-4 mb-4">
            <a href="{% url 'card_detail' card.id %}" class="no-link-style">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ card.title }}</h5>
                        <p class="card-text" id="card-content-{{ card.id }}">
                            {{ card.content|truncatechars:140 }}
                        </p>
                    </div>
                        <div class="expiration-text">
                            Expires: {{ card.expiration_date|date:"F d" }}
                        </div>
                        <div class="comments-count">
                            <i class="fas fa-comments"></i> {{ card.comments.count }}
                        </div>
                </div>

            </a>
        </div>
        {% endfor %}

    </div>
</div>
<script>
</script>

{% endblock %}

